<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="userService" class="com.example.aopdemo.service.UserServiceImpl"/>
    <bean id="aroundAdvice" class="com.example.aopdemo.proxy.AroundAdvice"/>

    <!--配置切面：切入点 + 通知-->
    <aop:config>
        <!--配置切入点-->
        <aop:pointcut id="pc" expression="execution(* com.example.aopdemo.service.*ServiceImpl.*(..))"/>
        <!--配置通知-->
        <aop:advisor advice-ref="aroundAdvice" pointcut-ref="pc"/>
    </aop:config>
</beans>